<!-- Telegram Login Widget будет загружен сюда -->
<div #telegramLogin></div>

<app-loading-screen *ngIf="!loadingComplete()" [loadingProgress]="loadingProgress()"></app-loading-screen>

<!-- После завершения загрузки отображаем активный экран -->
<div *ngIf="loadingComplete()">
  <!-- "Добыча" -->
  <ng-container *ngIf="activeTab() === 'dobycha'">
    <app-main-page></app-main-page>
  </ng-container>

  <!-- Рейтинг -->
  <ng-container *ngIf="activeTab() === 'rating'">
    <h1>Рейтинг</h1>
  </ng-container>

  <!-- Профиль -->
  <ng-container *ngIf="activeTab() === 'profile'">
    <h1>Профиль</h1>
  </ng-container>

  <!-- Панель навигации -->
  <app-navigation-bar (tabSelected)="selectTab($event)"></app-navigation-bar>
</div>
